<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAp5sg_JOj7vs1y7kzOwDo5mn7TXdSgpxc</string>
	<key>GCM_SENDER_ID</key>
	<string>448392791773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beki.applications.delivery</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-f58a5</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-f58a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448392791773:ios:3cfac42a03da89c7733d34</string>
</dict>
</plist>